---
import Bento from '@/components/Bento.astro';
import Intro from '@/components/Intro.astro';
import PreFooter from '@/components/PreFooter.astro';
import Video from '@/components/Video.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout 
	title="Cambios OriSur" 
	description="Descubre la mejor plataforma para enviar tus remesas desde distintas partes de Latinoamerica, a las mejores tasas del mercado"
>
	<Video />
	<main>
		<Intro />
		<Bento />
		<PreFooter />
	</main>
</Layout>