---
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '../HeroContainer.astro';
import Card from "@/components/Card.astro";
import FormEmail from "@/components/FormEmail.astro";
import Address from "@/components/icons/Address.astro";
import Clock from "@/components/icons/Clock.astro";
import Email from "@/components/icons/Email.astro";
import Phone from "@/components/icons/Phone.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
---

<Layout title="Contacto" description="Contacto">
    <HeroContainer img='/Contacto.webp'>
        <span class="shadown text-6xl font-bold tracking-widest text-wrap font-tomaso">
            Contáctanos
        </span>
    </HeroContainer>

    <section class="mx-auto w-full max-w-[1400px] p-6 sm:p-20 mt-36">
        <h1
            class="mx-auto mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
        >
            ¿Necesitas asistencia?
        </h1>
        
        <p class="max-w-[800px] mx-auto mb-20 text-balance text-center text-sm tracking-wide md:text-xl">
            Contacta con nuestro amable equipo de atención al cliente. Estamos aquí para resolver tus dudas y ofrecerte el mejor servicio. El equipo de <strong>Cambios OriSur</strong> estará encantado de atenderte.
        </p>
        
        <div class="lg:flex-row mx-auto w-full flex flex-col gap-14">
            <div class="flex flex-col lg:w-1/2">
                <Card />
            </div>
            <div class="mb-8">
                <FormEmail />
            </div>
        </div>
        
    </section>
</Layout>