---
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '../HeroContainer.astro';
import Card from "@/components/Card.astro";
import FormEmail from "@/components/FormEmail.astro";
import Address from "@/components/icons/Address.astro";
import Clock from "@/components/icons/Clock.astro";
import Email from "@/components/icons/Email.astro";
import Phone from "@/components/icons/Phone.astro";
import WhatsApp from "@/components/icons/WhatsApp.astro";
import { getI18N } from "@/i18n/"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title="Contacto" description="Contacto">
    <HeroContainer img='/Contacto.webp'>
        <span class="shadown text-4xl lg:text-6xl font-bold tracking-widest text-wrap font-tomaso">
            {i18n.CONTACTUS.TITLE}
        </span>
    </HeroContainer>

    <section class="mx-auto w-full max-w-[1400px] p-6 sm:p-20 mt-36">
        <h1
            class="mx-auto mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
        >
            {i18n.CONTACTUS.TITLE_1}
        </h1>
        
        <p set:html={i18n.CONTACTUS.CONTENT_1} class="max-w-[800px] mx-auto mb-20 text-balance text-center text-sm tracking-wide md:text-xl" />
        
        <div class="lg:flex-row mx-auto w-full flex flex-col gap-14">
            <div class="flex flex-col lg:w-1/2">
                <Card />
            </div>
            <div class="mb-8">
                <FormEmail />
            </div>
        </div>
        
    </section>
</Layout>