---
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '../HeroContainer.astro';
---

<Layout title="Enviar Dinero" description="Enviar Dinero">
    <HeroContainer img='/ComoEnviar2.webp'>
        <span class="shadown text-6xl font-bold tracking-widest text-wrap font-tomaso">
            Cómo enviar dinero
        </span>
    </HeroContainer>
    
    <section class="text-xl text-left px-20 max-w-[90ch] text-pretty mx-auto my-24 mt-40">
        <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
            Como enviar dinero desde Perú
        </h1>

        <h4 class="mb-10">
            Publicado: 25 Oct. 2024
        </h4>
        
        <h2 class="mb-4 font-semibold text-3xl">
            ¿Cómo enviar dinero al extranjero desde Perú?
        </h2>
    
        <p>
            En Cambios Ori$ur®, recibimos pagos en Perú de manera local por el BCP y Yape, si deseas enviar dinero de Perú solo necesitaras una agencia BCP cercana donde acudir a hacer el pago o por medio de la app de Yape. La información necesaria para el pago te será proporcionada al <a href="/contacto" target="_blank" class="font-semibold">contactarnos</a>.
        ​</p>
        <p class="mb-16">
            Conoce los <a href="/paises" target="_blank" class="font-semibold">paises</a> del extranjero que están bajo cobertura de nuestros corresponsales. Tambien puedes visitar nuestra seccion de Como Funciona, donde podras encontrar respuesta a tus dudas.
        </p>
        
        <h2 class="mb-4 font-semibold text-3xl">
            ¿Cómo me pueden enviar dinero de Perú?
        </h2>
    
        <p>
            Lo primero que debes saber es si el país donde deseas recibir el dinero esté bajo cobertura de nuestros corresponsales, en caso de ser así. Solo debes indicarle a la persona que hará el envío de dinero en Perú que nos  <a href="/contacto" target="_blank" class="font-semibold">contacte</a> para gestionar el envío.
        ​</p>
        <p class="mb-16">
            Los pagos en Perú son muy sencillos ya que se reciben de manera local por medio de los agentes BCP o por medio de la app de Yape.
        </p>
        
        <h2 class="mb-4 font-semibold text-3xl">
            ¿Cómo enviar dinero de Perú a Venezuela?
        </h2>
    
        <p>
            Si deseas enviar dinero desde Perú a Venezuela con rapidez, lo primero que necesitarías será la información de la cuenta venezolana (nombre del beneficiario, numero de cedula, numero de cuenta o datos de pago movil). En Perú el pago lo podrás hacer por el BCP o por Yape.
        ​</p>
        <p class="mb-16">
            La información necesaria para gestionar el envio de dinero, te será proporcionada al contactarnos.
        </p>
        
        <h2 class="mb-4 font-semibold text-3xl">
            ¿Cómo enviar dinero de Perú a Colombia?
        </h2>
    
        <p>
            Enviar dinero de Perú a Colombia es muy facil. Con nuestro servicio podrás enviar dinero desde Perú tan solo haciendo un deposito o una transferencia por el BCP o por medio de la app de Yape, usando tu moneda local.
        ​</p>
        <p class="mb-16">
            En Colombia los pagos a la cuenta destinataria generalmente se hacen por medio de: Bancolombia, Nequi o Efecty, directamente en pesos colombianos, también de manera local. La información necesaria para el gestionar un envio te será proporcionada al contactarnos.
        </p>
        
        <h2 class="mb-4 font-semibold text-3xl">
            ¿Cómo se puede enviar dinero de Perú a Chile?
        </h2>
    
        <p>
            Enviar dinero de Perú a Chile nunca había sido tan sencillo. Con nuestro servicio podrás enviar dinero desde Perú tan solo haciendo un deposito o una transferencia por el BCP o por medio de la app de Yape, usando tu moneda local.        ​
        </p>
        <p class="mb-16">
            En Chile los pagos a la cuenta destinataria generalmente se hacen por medio de los bancos: Estado o Santander, directamente en pesos chilenos, también de manera local. La información necesaria para el pago te será proporcionada al contactarnos.
        </p>
        
        <h2 class="mb-4 font-semibold text-3xl">
            ¿Cómo enviar dinero a Estados Unidos desde Perú?
        </h2>
    
        <p>
            Si deseas enviar dinero desde Perú  a USA con facilidad, lo primero que necesitarías será la información de la cuenta destinataria ZELLE (correo, nombre del beneficiario). En Perú el pago lo podrás hacer de manera sencilla ya sea por el BCP o por Yape. ​
        </p>
        <p class="mb-16">
            La información necesaria para el pago te será proporcionada al contactarnos.
        </p>
        
        <h2 class="mb-4 font-semibold text-3xl">
            ¿Cómo enviar dinero desde Perú a España?
        </h2>
    
        <p>
            Si deseas enviar dinero desde Perú  a España con facilidad, lo primero que necesitarías será la información de la cuenta destinataria española (IBAN, nombre del beneficiario, nombre del banco y correo electronico). En Perú el pago lo podrás hacer de manera sencilla ya sea por el BCP o por Yape.
        </p>
        <p class="mb-16">
            La información necesaria para el pago te será proporcionada al contactarnos.
        </p>

        <div class="boton flex justify-center">
            <a href="/contacto" class="py-3 px-32 text-xl font-medium text-white border border-solid border-white rounded-full sm:w-fit hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300">
                Contactanos
            </a>
        </div>
    </section>
</Layout>

<style>
    a {
        transition:
            text-shadow 0.5s ease-out,
            box-shadow 0.3s ease-out;
    }

    .boton a:hover {
        box-shadow: 0 0 15px #fff;
        text-shadow:
            1px 1px 20px #fff;
    }
    
    a:hover {
        text-shadow:
            1px 1px 20px #fff;
    }
</style>






