---
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '../HeroContainer.astro';
import Logo from "@/components/Logo.astro";
import BentoItem from "@/components/BentoItem.astro";
import Numeros from "@/components/Numeros.astro";
---

<Layout title="Nosotros" description="Nosotros">
    <HeroContainer img='/NosotrosW.webp'>
        <span class="shadown text-6xl font-bold tracking-widest text-wrap font-tomaso">
            Nosotros
        </span>
    </HeroContainer>

    <section class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-24 mt-40">
        <div class="flex items-center justify-center mb-4">
        <Logo
            class="absolute w-16 m-auto blur-md opacity-0 transition- opacity duration-300 hover:opacity-100"
        />
        <Logo class="w-16 text-white m-auto" />
    </div>
        
        <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
            Nuestra Razón de ser
        </h1>
        
        <p>
            Nuestro propósito es revolucionar la forma en que se envían las remesas. A través de la <strong>tecnología y la innovación</strong>, buscamos hacer que el envío de dinero sea más fácil, rápido y accesible para todos, permitiendo a nuestros clientes mantener un vínculo estrecho con sus seres queridos en el extranjero. Queremos que nuestros clientes tengan la libertad de enviar dinero cuando y donde quieran, sin importar la distancia. Creemos en el <strong>poder de las conexiones humanas</strong> y trabajamos incansablemente para fortalecerlas.
        </p>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8">
        <div id="theater-text" class="md:w-1/2 space-y-4">
            <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
            >
                Misión
            </h1>
            <p>Revolucionar la forma en que se envían las remesas, utilizando la tecnología más avanzada para ofrecer un servicio seguro, transparente y personalizado.</p>
        </div>
        <div id="theater" class="mt-6 md:mt-0 md:w-1/2">
            <img
                class="object-cover w-full h-full rounded-md"
                height={500}
                src="/nosotros/Mision.webp"
                style={{
                    aspectRatio: "812/556",
                    objectFit: "cover",
                }}
                width={500}
            />
        </div>
    </section>

    <section class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
    >
        <div id="trophies" class="mt-6 md:mt-0 md:w-1/2">
            <img
                class="object-cover w-full h-full rounded-md"
                height={556}
                src="/nosotros/Vision.webp"
                style={{
                    aspectRatio: "812/556",
                    objectFit: "cover",
                }}
                width={812}
            />
        </div>
        <div id="trophies-text" class="md:w-1/2 space-y-4">
            <h1 class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
            >
                Visión
            </h1>
            <p set:html="Convertirnos en la empresa líder en innovación en el sector de las remesas, ofreciendo soluciones financieras digitales que se adapten a las necesidades cambiantes de nuestros clientes." />
            
        </div>
    </section>

    <section class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-4 mt-10">

        <h1 class="text-3xl font-semibold text-center text-wrap mx-auto mb-5 tracking-wide">
            Nuestros Valores
        </h1>
        
        <p>
            En <strong>Cambios OriSur </strong>, somos más que un simple servicio de envío de remesas. Somos una comunidad unida por valores sólidos que guían cada una de nuestras acciones.
        </p>
    </section>

    <section 
        class={`
            w-full max-w-[1400px] 
            grid lg:grid-cols-10 auto-rows-[30rem] gap-4 
            mx-auto p-6 md:p-12 lg:p-20
        `}>

        <BentoItem 
            class="col-span-10 lg:col-span-4" 
            title="Confianza"
        >
            <div 
                slot="image" 
                class="
                    background transition-scale absolute bottom-0 left-0 top-0 -z-10 w-full h-full bg-cover bg-center bg-no-repeat opacity-80 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                data-src="/nosotros/Confianza2.webp"
            >
            </div>
            <p 
                slot="content" 
                class="max-w-xl text-base md:text-lg"
                set:html="Construimos relaciones sólidas basadas en la confianza. Para nosotros, la seguridad y la transparencia son pilares fundamentales. Cada transacción es manejada con el más alto nivel de confidencialidad, asegurando que el dinero de nuestros clientes llegue a su destino de manera segura y oportuna."
            />
        </BentoItem>
        
        <BentoItem 
            class="col-span-10 lg:col-span-6" 
            title="Responsabilidad"
        >
            <div 
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full 
                    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                data-src="/nosotros/Responsabilidad2.webp"
            >
            </div>
            <p 
                slot="content" 
                class="max-w-xl text-base md:text-lg"
                set:html="Asumimos la responsabilidad de cada transacción como si fuera propia. Somos conscientes del impacto que nuestras acciones tienen en la vida de nuestros clientes y sus familias, por lo que trabajamos con diligencia y profesionalismo para cumplir con nuestros compromisos."
            />
        </BentoItem>

        <BentoItem 
            class="col-span-10 lg:col-span-5" 
            title="Aprendizaje"
        >
            <div 
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full 
                    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                data-src="/nosotros/Aprendizaje.webp"
            >
            </div>
            <p 
                slot="content" 
                class="max-w-xl text-base md:text-lg"
                set:html="El mundo cambia constantemente, y nosotros también. Fomentamos una cultura de aprendizaje continuo, buscando siempre nuevas formas de mejorar nuestros servicios y adaptarnos a las necesidades de nuestros clientes."
            />
        </BentoItem>
        
        <BentoItem 
            class="col-span-10 lg:col-span-5" 
            title="Trabajo en Equipo"
        >
            <div 
                slot="image" 
                class="
                    background transition-scale absolute bottom-0 left-0 top-0 -z-10 w-full h-full bg-cover bg-center bg-no-repeat opacity-80 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                data-src="/nosotros/Trabajo.webp"
            >
            </div>
            <p 
                slot="content" 
                class="max-w-xl text-base md:text-lg"
                set:html="Creemos en la fuerza de la colaboración. Nuestro equipo trabaja en conjunto para encontrar soluciones innovadoras y superar cualquier desafío. La comunicación abierta y el respeto mutuo son la base de nuestro éxito."
            />
        </BentoItem>
        
        <BentoItem 
            class="col-span-10 lg:col-span-4" 
            title="Vocación de Servicio"
        >
            <div 
                slot="image" 
                class="
                    background transition-scale absolute bottom-0 left-0 top-0 -z-10 w-full h-full bg-cover bg-center bg-no-repeat opacity-80 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                data-src="/nosotros/Vocacion.webp"
            >
            </div>
            <p 
                slot="content" 
                class="max-w-xl text-base md:text-lg"
                set:html="Nuestra pasión es servir a nuestros clientes. Estamos comprometidos a brindar una experiencia excepcional en cada interacción, ofreciendo un servicio personalizado y atento."
            />
        </BentoItem>

        <BentoItem 
            class="col-span-10 lg:col-span-6" 
            title="Innovación"
        >
            <div 
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0
                    -z-10 h-full w-full 
                    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                data-src="/nosotros/Innovacion.webp"
            >
            </div>
            <p 
                slot="content" 
                class="max-w-xl text-base md:text-lg"
                set:html="La innovación es nuestro motor. Buscamos constantemente nuevas tecnologías y soluciones para mejorar nuestros procesos y ofrecer servicios más eficientes y convenientes."
            />
        </BentoItem>
    </section>
    
    <section>
        <Numeros />
    </section>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const backgrounds = document.querySelectorAll(
      ".background"
    ) as NodeListOf<HTMLElement>

    if (window.IntersectionObserver == null) {
      backgrounds.forEach((bkg) => {
        bkg.style.backgroundImage = "url('" + bkg.dataset.src + "')"
      })
      return
    }

    function handleIntersection(entries: IntersectionObserverEntry[]) {
      entries.map((entry) => {
        if (entry.isIntersecting) {
          const target = entry.target as HTMLElement
          const { style, dataset } = target
          // Item has crossed our observation
          // threshold - load src from data-src
          style.backgroundImage = "url('" + dataset.src + "')"
          // Job done for this item - no need to watch it!
          observer.unobserve(entry.target)
        }
      })
    }

    const observer = new IntersectionObserver(handleIntersection, {
      rootMargin: "100px",
    })

    backgrounds.forEach((bkg) => observer.observe(bkg))
  })
</script>

<style>
  #theater,
  #trophies-text h1,
  #trophies-text p {
    animation: cover-animation linear both;
    animation-timeline: view();
  }
  #theater-text h1,
  #theater-text p,
  #trophies {
    animation: entry-animation linear both;
    animation-timeline: view();
  }
  #theater {
    animation-range: entry 10% cover 40%;
  }
  #theater-text h1 {
    animation-range: entry 10% cover 30%;
  }
  #theater-text p {
    animation-range: entry 10% cover 20%;
  }
  #trophies {
    animation-range: entry 30% cover 50%;
  }
  #trophies-text h1 {
    animation-range: entry 30% cover 40%;
  }
  #trophies-text p {
    animation-range: entry 20% cover 30%;
  }
  @keyframes entry-animation {
    0% {
      opacity: 0;
      translate: var(--entry-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
  @keyframes cover-animation {
    0% {
      opacity: 0;
      translate: var(--cover-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>