---
import Layout from '@/layouts/Layout.astro';
import HeroContainer from '@/components/HeroContainer.astro';
import PaisItem from '@/components/PaisItem.astro';
---

<Layout title="Países" description="Países">
    <HeroContainer img='/Paises.webp'>
        <span class="shadown text-6xl font-bold tracking-widest text-wrap font-tomaso">Países</span>
    </HeroContainer>

    <main>

        <section id="trophies-text" class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto mt-48">
            <h1  class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide uppercase">
                Cambios OriSur
            </h1>
            <p>
                Envía dinero a más de 10 países con <strong>Cambios Orisur</strong>. Nuestra amplia red de agentes te permite <strong>enviar remesas a familiares y amigos</strong> en toda la región  de forma rápida y segura. Estamos presentes donde más nos necesites. Ofrecemos una variedad de opciones de envío para que elijas la que mejor se adapte a tus necesidades, incluyendo envíos a cuentas bancarias y pagos en efectivo. Con <strong>Cambios Orisur</strong>, tus seres queridos recibirán tu dinero en <strong>cuestión de minutos</strong>.
            </p>
        </section>


        <section class="grid lg:justify-items-center place-items-center lg:grid-cols-2 grid-cols-1 gap-4 max-w-5xl mx-auto mt-20 mb-20">
            <PaisItem id="trophies" href="Venezuela",  imgSrc="/mapas/venezuela.webp", imgAlt="Bandera de Venezuela", pais="Venezuela"/>
            <PaisItem id="theater" href="/enviarDinero" imgSrc="/mapas/ecuador.webp" imgAlt="Bandera de Ecuador" pais="Ecuador"/>
            <PaisItem id="trophies" href="/enviarDinero" imgSrc="/mapas/argentina.webp" imgAlt="Bandera de Argentina" pais="Argentina"/>
            <PaisItem id="theater" href="/enviarDinero" imgSrc="/mapas/chile.webp" imgAlt="Bandera de Chile" pais="Chile"/>
            <PaisItem id="trophies" href="/enviarDinero"  imgSrc="/mapas/colombia.webp" imgAlt="Bandera de Colombia" pais="Colombia"/>
            <PaisItem id="theater" href="/enviarDinero" imgSrc="/mapas/peru.webp" imgAlt="Bandera de Perú" pais="Perú"/>
            <PaisItem id="trophies" href="/enviarDinero" imgSrc="/mapas/brazil.webp" imgAlt="Bandera de Brasil" pais="Brasil"/>
            <PaisItem id="theater" href="/enviarDinero" imgSrc="/mapas/mexico.webp" imgAlt="Bandera de México" pais="México"/>
            <PaisItem id="trophies" href="/enviarDinero" imgSrc="/mapas/america.webp" imgAlt="Bandera de Estados Unidos" pais="USA"/>
            <PaisItem id="theater" href="/enviarDinero" imgSrc="/mapas/dominican.webp" imgAlt="Bandera de República Dominicana" pais="República Dominicana"/>
        </section>
    </main>
</Layout>