---
import { db, Exchange } from "astro:db";
import Close from "./icons/Close.astro";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const country = formData.get("country");
  const currency = formData.get("currency");
  const rate = Number(formData.get("rate"));
  const symbol = formData.get("symbol");
  console.log({ country, currency, rate, symbol });

  if (!country || !currency || !rate || !symbol) {
    return;
  }

  if (isNaN(rate) || rate < 0) {
    return;
  }

  if (
    typeof country === "string" &&
    typeof currency === "string" &&
    typeof rate === "number" &&
    typeof symbol === "string"
  ) {
    await db.insert(Exchange).values({
      country,
      currency,
      rate,
      symbol,
    });
  }
  return Astro.redirect("/admin");
}

// const exchangeRates = await db.select().from(Exchange);
---

<div class="max-w-2/6 bg-white/90 rounded-lg">
  <div class="relative mb-4 bg-gray-200 p-2 rounded-md shadow-md">
    <button
      popovertarget="my-popoverAddCountry"
      popovertargetaction="hide"
      class="absolute top-2 right-2 bg-white/50 shadow-lg text-gray-600 hover:text-white hover:bg-red-500 rounded-full p-1"
    >
      <Close class="w-4 h-4" />
    </button>

    <h2 class="text-gray-700 text-xl font-semibold text-center">
      Agregar País
    </h2>
  </div>
  <form method="post" class="flex flex-col gap-4">
    <div>
      <div class="block">
        <label for="country">País:</label>
      </div>
      <input
        id="country"
        name="country"
        type="text"
        placeholder="Nombre del país"
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-slate-800 text-white"
      />
    </div>
    <div>
      <div class="block">
        <label for="currency">Divisa</label>
      </div>
      <input
        id="currency"
        name="currency"
        type="text"
        placeholder="Tipo de divisa"
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-slate-800 text-white"
      />
    </div>

    <div>
      <div class="block">
        <label for="rate">Tasa:</label>
      </div>
      <input
        id="rate"
        name="rate"
        type="number"
        placeholder="Tasa de cambio"
        min="0"
        step="0.01"
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-slate-800 text-white"
      />
    </div>

    <div>
      <div class="block">
        <label for="symbol">Simbolo de Moneda:</label>
      </div>
      <input
        id="symbol"
        name="symbol"
        type="text"
        placeholder="Simbolo de la divisa"
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-slate-800 text-white"
      />
    </div>

    <button
      type="submit"
      class="bg-orange-300 rounded-md w-full py-2 hover:bg-orange-400 text-gray-800 font-semibold ease-in-out duration-300"
    >
      Registrar
    </button>
  </form>
</div>
