---
import CardItem from "./CardItem.astro";
import Address from "./icons/Address.astro";
import Clock from "./icons/Clock.astro";
import Email from "./icons/Email.astro";
import Phone from "./icons/Phone.astro";
import WhatsApp from "./icons/WhatsApp.astro";
---
<div>
    <CardItem 
        title="Teléfono", 
        body="+58 412-499 88 11"
    >
        <div 
            slot="icons" 
        >
            <a href="https://web.whatsapp.com/send?phone=584124998811" target="_blank">
                <WhatsApp />
            </a>
        </div>
    </CardItem>

    <CardItem 
        title="Horarios", 
        body="Lun - Vie: 8 am - 6 pm"
        subbody="Sáb y Dom: Cerrado"
    >
        <div 
            slot="icons" 
        >
            <Clock />
        </div>
    </CardItem>

    <CardItem 
        title="Email",
        body="alfaortiz.sis@gmail.com"
    >
        <div 
            slot="icons" 
        >
            <Email />
        </div>
    </CardItem>

    <CardItem 
        title="Dirección", 
        body="Urb. Las Cayenas"
        subbody="Maturín - Monagas - Venezuela"
    >
        <div 
            slot="icons" 
        >
            <Address />
        </div>
    </CardItem>
</div>
