---
interface Props {
	title: string;
	body: string;
	subbody?: string;
}

const { subbody, title, body } = Astro.props;
---

<article 
	class={`
		rounded-xl
		backdrop-blur-md
		border border-white/30
		shadow-inner shadow-white/50
		overflow-hidden
		h-36
		w-1/3
		mb-6
		mx-auto
		flex flex-row
		items-center
	`}
>
	
	<div class="mx-6 text-white/40 duration-300 ease-in-out hover:scale-125 hover:text-white/80">
		<slot name="icons" />
	</div>

	<div class="relative select-none flex flex-col gap-1 p-2 text-lg z-20 justify-center">
		<h2 class="text-2xl text-balance text-white/80 mb-6">{title} <span>&rarr;</span></h2>
		<span class="text-md text-sky-200/80 -mt-4 mb-4">{body}</span>
		<span class="text-md text-sky-200/80 -mt-4 mb-4">{subbody}</span>
	</div>
</article>