---
import { db, Exchange, eq } from "astro:db";

export interface Props {
  exchange: {
    id: number;
    country: string;
    currency: string;
    rate: number;
    symbol: string;
  };
}

const { exchange } = Astro.props;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const country = formData.get("country");
  const currency = formData.get("currency");
  const rate = Number(formData.get("rate"));
  const symbol = formData.get("symbol");

  if (
    typeof country === "string" &&
    typeof currency === "string" &&
    typeof rate === "number" &&
    typeof symbol === "string"
  ) {
    await db
      .update(Exchange)
      .set({ country, currency, rate, symbol })
      .where(eq(Exchange.id, exchange.id))
      .run();

    // Redirigir o recargar la página para ver los cambios
    return Astro.redirect("/admin"); // Asumiendo que "/admin" es tu página de administración
  }
}
---

<section
  class="flex flex-col gap-4 p-3 bg-white rounded-lg shadow-md text-black"
>
  <h2 class="text-2xl font-bold text-center mb-4 text-gray-700">Editar País</h2>
  <form method="post" class="flex flex-col gap-4">
    <div>
      <div class="block">
        <label for="country">País:</label>
      </div>
      <input
        id="country"
        name="country"
        type="text"
        value={exchange.country}
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-white text-black focus:bg-gray-200"
        onblur="this.classList.replace('bg-gray-200', 'bg-slate-800'); this.classList.add('text-white')"
        onfocus="this.classList.replace('bg-slate-800', 'bg-gray-200'); this.classList.remove('text-white')"
      />
    </div>
    <div>
      <div class="block">
        <label for="currency">Divisa</label>
      </div>
      <input
        id="currency"
        name="currency"
        type="text"
        value={exchange.currency}
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-white text-black focus:bg-gray-200"
        onblur="this.classList.replace('bg-gray-200', 'bg-slate-800'); this.classList.add('text-white')"
        onfocus="this.classList.replace('bg-slate-800', 'bg-gray-200'); this.classList.remove('text-white')"
      />
    </div>

    <div>
      <div class="block">
        <label for="rate">Tasa:</label>
      </div>
      <input
        id="rate"
        name="rate"
        type="number"
        value={exchange.rate}
        min="0"
        step="0.01"
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-white text-black focus:bg-gray-200"
        onblur="this.classList.replace('bg-gray-200', 'bg-slate-800'); this.classList.add('text-white')"
        onfocus="this.classList.replace('bg-slate-800', 'bg-gray-200'); this.classList.remove('text-white')"
      />
    </div>

    <div>
      <div class="block">
        <label for="symbol">Símbolo de Moneda:</label>
      </div>
      <input
        id="symbol"
        name="symbol"
        type="text"
        value={exchange.symbol}
        required
        class="border-2 border-gray-300 rounded-md w-full p-2 bg-white text-black focus:bg-gray-200"
        onblur="this.classList.replace('bg-gray-200', 'bg-slate-800'); this.classList.add('text-white')"
        onfocus="this.classList.replace('bg-slate-800', 'bg-gray-200'); this.classList.remove('text-white')"
      />
    </div>

    <button
      type="submit"
      class="bg-blue-500 rounded-md w-full py-2 hover:bg-blue-700 text-white"
    >
      Guardar Cambios
    </button>
  </form>
</section>
