---

---

<section class={`
        rounded-xl
		backdrop-blur-md
		border border-white/30
		shadow-inner shadow-white/50
		overflow-hidden
        `}
>
  <div class="py-8 lg:py-12 px-6 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-300">
        Contactanos
    </h2>
    <p class="mb-8 lg:mb-14 font-light text-center text-wrap text-gray-300 sm:text-lg"
    >
        ¿Tienes una duda sobre el envío de dinero?, ¿Quieres enviarnos comentarios sobre algo específico? ¿Necesitas detalles sobre nuestros servicios? Háznoslo saber, estamos para servirte.
    </p>
    <form action="#" class="space-y-8">
          <div>
            <label 
                for="email" 
                class="block mb-2 text-sm font-medium text-gray-300"
            >
                Tu email
            </label>
            <input 
                type="email" 
                id="email" 
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" 
                placeholder="name@gmail.com" 
                required
            >
          </div>
          <div>
            <label 
                for="subject" 
                class="block mb-2 text-sm font-medium text-gray-300"
            >
                Sujeto a
            </label>
            <input 
                type="text" 
                id="subject" 
                class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" 
                placeholder="Déjanos saber cómo podemos ayudarte" 
                required
            >
          </div>
          <div class="sm:col-span-2">
            <label 
                for="message" 
                class="block mb-2 text-sm font-medium text-gray-300"
            >
                Tu Mensaje
            </label>
            <textarea 
                id="message" 
                rows="6" 
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" 
                placeholder="Déjanos saber cómo podemos ayudarte" 
            >
            </textarea>
          </div>
        <button 
            type="submit" 
            class="py-3 px-5 text-sm font-medium text-center text-white border border-solid border-white rounded-full sm:w-fit hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300">
            Enviar Mensaje
        </button>
    </form>
  </div>
</section>

<style>
    button {
        transition:
            text-shadow 0.5s ease-out,
            box-shadow 0.3s ease-out;
    }

    button:hover {
        box-shadow: 0 0 15px #fff;
        text-shadow:
            1px 1px 20px #fff;
    }
</style>