---
import Button from "./Button";
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
    <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
        <a class="col-span-1" href="/">
            <img class="w-36 duration-500 hover:scale-105" src="/LogoOrisur.webp" alt="Logo Orisur"/>
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-5">
                <li>
                    <a class="text__glowing hover:underline" href="/">
                        Inicio
                    </a>
                </li>
                <li>
                    <a class="text__glowing hover:underline" href="/nosotros">
                        Nosotros
                    </a>
                </li>
                <li>
                    <a class="text__glowing hover:underline" href="/paises">
                        Países
                    </a>
                </li>
                <li>
                    <a class="text__glowing hover:underline" href="/comofunciona">
                        Como Funciona
                    </a>
                </li>
                <li>
                    <a class="text__glowing hover:underline" href="contacto">
                        Contacto
                    </a>
                </li>
            </ul>
        </nav>
        <Button
            className="md:py-2 md:ml-auto md:text-base lg:text-base"
            url="#"
            target="_self"
        >
            Acceso
        </Button>
    </div>
</header>

<!-- <style>
    a {
        transition:
            text-shadow 0.5s ease-out,
            box-shadow 0.3s ease-out;
    }

    a:hover {
        
        text-shadow:
            10px 10px 50px #fff;
    }
</style> -->