---
import Logo from "./Logo.astro";
---

<section class="text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-24">
    <div class="flex items-center justify-center mb-4">
        <Logo
            class="absolute w-16 m-auto blur-md opacity-0 transition- opacity duration-300 hover:opacity-100"
        />
        <Logo class="w-16 text-white m-auto" />
    </div>
    <h1 class="text-4xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide uppercase">
        Cambios OriSur
    </h1>
    <h2 class="text-2xl font-semibold text-center text-wrap mx-auto mb-6 tracking-wide">
        Tu tranquilidad es nuestra prioridad
    </h2>
    <p>
        ¿Cansado de las altas comisiones y los trámites engorrosos al enviar dinero al extranjero? En <strong>Cambios OriSur</strong>, te ofrecemos un servicio de envío de remesas rápido, seguro y con las mejores tasas del mercado. Con nuestra amplia red de agentes y nuestra plataforma en línea fácil de usar, podrás enviar dinero a cualquier parte del mundo con tan solo unos clics. ¡Comienza a ahorrar tiempo y dinero hoy mismo!.
    </p>
</section>