---
import Card from "./Card.astro";
import FormEmail from "./FormEmail.astro";
import Address from "./icons/Address.astro";
import Clock from "./icons/Clock.astro";
import Email from "./icons/Email.astro";
import Phone from "./icons/Phone.astro";
import WhatsApp from "./icons/WhatsApp.astro";
---

<section class="mx-auto w-full p-6 sm:p-20 justify-center items-center">
    
    <h1
        class="mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
    >
        ¿Necesitas contactarnos?
    </h1>

    <p class="mb-16 text-balance text-center text-sm tracking-wide md:text-xl">
        Póngase en contacto con el servicio al cliente de <strong>Cambios OriSur</strong>
    </p>
    
    <div class="flex justify-center">
        <a href="/contacto" class="py-3 px-32 text-xl font-medium text-white border border-solid border-white rounded-full sm:w-fit hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300">
            Contactanos
        </a>
    </div>
</section>

<style>
    a {
        transition:
            text-shadow 0.5s ease-out,
            box-shadow 0.3s ease-out;
    }

    a:hover {
        box-shadow: 0 0 15px #fff;
        text-shadow:
            1px 1px 20px #fff;
    }
</style>
