---
import Dolar from "./icons/Dolar.astro";
import { Tasa1 } from "./queryTasa.tsx";
import Close from "./icons/Close.astro";

const tasas = await Tasa1();
---

<button popovertarget="my-popover" class="fixed bottom-10 right-10 z-50">
  <Dolar
    class="w-12 h-12 text-amber-400 hover:text-amber-500/90 hover:scale-110 hover:-rotate-45 transition-transform duration-500"
  />
</button>

<div
  id="my-popover"
  popover
  class="items-end max-w-xs bg-white/90 border border-gray-600 rounded-lg shadow shadow-white"
>
  <button
    popovertarget="my-popover"
    popovertargetaction="hide"
    class="absolute top-3 right-3 shadow-lg bg-white/90 text-gray-600 hover:text-white hover:bg-red-500 rounded-full p-1"
  >
    <Close class="w-4 h-4" />
  </button>
  <a href="#">
    <img class="rounded-t-lg" src="/Dolar.webp" alt="Imagen de Dólares" />
  </a>
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        Cotización del Dólar
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-800">
      Fecha: {tasas.monitors.usd.last_update}
    </p>
    <p class="mb-3 font-normal text-gray-800">
      $ USD: {tasas.monitors.usd.price}
      <span class="text-[green]">{tasas.monitors.usd.symbol}</span>
      <span>{tasas.monitors.usd.percent} %</span>
    </p>
  </div>

  <style>
    [popover] {
      top: 8rem;
      margin: 0 auto;
      box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
    }

    /*   IS-OPEN STATE   */
    [popover]:popover-open {
      translate: 0 0;
    }

    /*   EXIT STATE   */
    [popover] {
      transition:
        translate 0.7s ease-out,
        display 0.7s ease-out allow-discrete;
      translate: 0 -22rem;
    }

    /*   0. BEFORE-OPEN STATE   */
    @starting-style {
      [popover]:popover-open {
        translate: 0 -22rem;
      }
    }
  </style>
</div>
