---
import { db, Exchange, eq } from "astro:db";
import Layout from "@/layouts/Layout.astro";
import DeleteIcon from "@/components/icons/DeleteIcon.astro";
import CancelIcon from "@/components/icons/CancelIcon.astro";

export async function getStaticPaths() {
  const exchanges = await db.select().from(Exchange).all();
  return exchanges.map((exchange) => ({ params: { id: String(exchange.id) } }));
}

const { id } = Astro.params;
const exchange = await db
  .select()
  .from(Exchange)
  .where(eq(Exchange.id, Number(id)))
  .get();

if (!exchange) return Astro.redirect("/admin");

if (Astro.request.method === "POST") {
  await db
    .delete(Exchange)
    .where(eq(Exchange.id, Number(id)))
    .run();
  return Astro.redirect("/admin/admin/");
}
---

<Layout title="Eliminar País" description="Eliminar un país existente">
  <div class="flex justify-center items-center min-h-screen bg-gray-900">
    <section
      class="mx-auto w-full max-w-md p-6 grid justify-center items-center bg-gray-700 text-white rounded-lg shadow-lg"
    >
      <h2 class="text-2xl font-semibold tracking-wider mb-4">Eliminar País</h2>
      <p>
        ¿Estás seguro de que deseas eliminar el registro de {exchange.country}?
      </p>
      <form method="post" class="flex justify-center gap-8">
        <button
          type="submit"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md flex items-center gap-3"
        >
          <DeleteIcon class="w-5 h-5 inline-block" />
          Eliminar
        </button>
        <a
          href="/admin/admin/"
          class="bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded-md flex items-center gap-3"
        >
          <CancelIcon class="w-5 h-5 inline-block" />
          Cancelar
        </a>
      </form>
    </section>
  </div>
</Layout>
